#container {
  margin: 0 auto;
}
table{
  border: 1px red solid;
}
td{
  width: 100px;
  height: 100px;
  border: 1px blue dotted;
}
.player{
    width: 25px;
    height: 25px;
    border: 1px solid black;
    display: inline-block;
}
#chooser, #players{
  display: none;
}

.active{
  border: 3px solid black;
}
#winordraw {
  display: none;
}
